@use "@app/styles/global.scss" as global;

.title {
  cursor: default;
  color: global.$white;
}

.title_pointer {
  cursor: pointer;
}

.title__font {
  &_abel {
    font-family: global.$abel;
  }

  &_raleway {
    font-family: global.$raleway;
  }

  &_julius-sans-one {
    font-family: global.$juliusSansOne;
  }

  &_playfair-display {
    font-family: global.$playfairDisplay;
  }
}

.title__size {
  &_xs {
    font-size: 25px;
  }

  &_sm {
    font-size: 35px;
  }

  &_md {
    font-size: 40px;
  }

  &_lg {
    font-size: 50px;
  }
}
