@font-face {
  font-family: "Playfair Display";
  src: url("./PlayfairDisplay-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./PlayfairDisplay-Italic-VariableFont_wght.ttf");
  font-style: italic;
}