@use "@shared/styles/global.scss" as global;

.text {
  color: global.$white;
}

.text_pointer {
  cursor: pointer;
}

.text__font {
  &_raleway {
    font-family: global.$raleway;
  }

  &_abel {
    font-family: global.$abel;
  }

  &_playfair-display {
    font-family: global.$playfairDisplay;
  }

  &_julius-sans-one {
    font-family: global.$juliusSansOne;
  }
}

.text__size {
  &_xs {
    font-size: 15px;
  }

  &_sm {
    font-size: 20px;
  }

  &_md {
    font-size: 24px;
  }

  &_lg {
    font-size: 28px;
  }
}