.search-restaurants-modal {
  width: 600px !important;
  top: 80px;
  right: 0 !important;
}

.search-restaurants-modal__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.search-restaurants-modal__show-more-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}