@import "@app/styles/global.scss";

.type-card {
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: .4s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-height: 36vh;
}

.type-card:hover {
  transform: scale(1.2);
}

.type-card:hover .type-card__image {
  filter: brightness(0.8);
}

.type-card__image {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.type-card__title {
  z-index: 100;
  padding-bottom: 40px;
  user-select: none;
}