@import "@app/styles/global.scss";

.input {
  border-radius: 10px;
  background-color: transparent !important;
  height: 60px;
  color: $white;
  font-size: 16px;
  padding: 0 15px;
  border-color: $white !important;
}

.input:hover, .input:active, .input:focus, :global(.ant-input):hover, :global(.ant-input):focus, :global(.ant-input):active {
  border-color: $mint !important;
  background-color: transparent;
  color: $mint;
}

.input::placeholder, .input :global(.ant-input)::placeholder {
  color: rgba(255, 255, 255, .5);
  font-size: 16px ;
  font-family: $raleway;
}

.input :global(.ant-input-password-icon) {
  color: white !important;
  font-size: 20px;
}

.input:hover :global(.ant-input-password-icon), .input:active :global(.ant-input-password-icon) {
  color: $mint !important;
}

:global(.ant-input-status-error) {
  border-color: $errorRed !important;
}

:global(.ant-otp-input) {
  background-color: transparent;
  height: 60px;
  border-radius: 10px;
  color: $white;
}

:global(.ant-otp) {
  width: 100%;
  gap: 32px;
}