@import "@app/styles/global.scss";

.select {
  height: 47px;
}

.select__size_md {
  height: 47px;
}

.select__size_lg {
  height: 60px;
}

.select:hover, .select:focus {
  :global(.ant-select-arrow) {
    color: $mint !important;
  }

  :global(.ant-select-selection-item) {
    color: $mint !important;
  }
}

.select :global(.ant-select-selector) {
  background: transparent !important;
  border: 1px solid $white !important;
  border-radius: 10px !important;
  padding: 0 15px !important;
}

.select :global(.ant-select-selector):hover, .select :global(.ant-select-selector):focus {
  background: transparent;
  border-color: $mint !important;
  color: $mint;
}

.select :global(.ant-select-selection-placeholder) {
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-family: $raleway;
  text-align: left;
}

.select :global(.ant-select-arrow) {
  color: $white;
  font-size: 16px;
}

:global(.ant-select-selection-item) {
  color: $white;
  font-size: 16px;
  text-align: left;
}

:global(.ant-select-dropdown) {
  background: $blackBlue;
  border: 1px solid $mint;
  padding: 10px;
}

:global(.ant-select-item) {
  height: 40px;
  align-items: center;
  padding: 5px 15px;
}

:global(.ant-select-item-option-content) {
  font-size: 16px;
  color: $white;
  font-weight: 400 !important;
}

:global(.ant-select-item-option):hover {
  background: rgba(255, 255, 255, .5) !important;

  :global(.ant-select-item-option-content):hover {
    color: $blackBlue !important;
  }
}

:global(.ant-select-item-option-selected) {
  background: rgb(92, 219, 149, .5) !important;
  color: $blackBlue !important;
}

:global(.rc-virtual-list-holder-inner) {
  gap: 5px;
}

:global(.ant-select-selection-search-input) {
  color: $white !important;
  font-size: 16px;
}

:global(.ant-select-selection-search) {
  padding-left: 0 !important;
  inset-inline-start: 0 !important;
  inset-inline-end: 0 !important;
  padding: 0 15px;
}

:global(.ant-select-dropdown) :global(.ant-empty-description) {
  color: $mint;
  font-family: $raleway;
  font-size: 16px;
}